DEFECTDOJO_SECRET_KEY=change-this-to-a-long-random-secret
DEFECTDOJO_CREDENTIAL_AES_256_KEY=change-this-to-32-characters-min
DEFECTDOJO_ADMIN_USER=admin
DEFECTDOJO_ADMIN_PASSWORD=admin123
DEFECTDOJO_ADMIN_EMAIL=admin@defectdojo.local
DEFECTDOJO_ADMIN_FIRST_NAME=Admin
DEFECTDOJO_ADMIN_LAST_NAME=User
DEFECTDOJO_DB_NAME=defectdojo
DEFECTDOJO_DB_USER=defectdojo
DEFECTDOJO_DB_PASSWORD=defectdojo
